@charset "UTF-8";

.big-checkbox {
	width: 30px;
	height: 30px;
}

.bg-yomul {
	background-color: rgb(255, 99, 95);
}

.text-yomul {
	color: rgb(255, 99, 95)!impotant;
}

.btn-yomul {
	background-color: rgb(255, 99, 95);
	color: white;
}

.btn-outline-yomul {
	border-color: rgb(255, 99, 95);
	color: rgb(255, 99, 95);
}

.btn-outline-yomul:hover {
	background-color: rgb(255, 99, 95);
	color: white;
}

.div-admin-msg {
	width: 100%;
	height: 27px;
	text-align: center;
	color: white;
	background-color: teal;
	font-weight: bold;
	text-decoration: blink;
	margin: auto;
	line-height: 27px;
}